---
import HeroSocials from "@components/hero/HeroSocials.astro" 
import ExploreLink from "@components/links/ExploreLink.astro";
---

<div class="flex flex-col gap-4 max-w-lg mx-36">
  <h1 class="text-4xl">Hi! I'm Jerôme Abel</h1>
  <p class="text-4xl font-title leading-tight">
    A front-end developer with 10+<br />
     years background in interactive arts,<br />
     living in La Rochelle, France
  </p>
  <HeroSocials />

</div>


