---
import imageHero from "@assets/images/hero.svg";
import { Image } from "astro:assets";
---

<div class="relative hidden md:block">
  <Image
    loading="eager"
    src={imageHero}
    class="absolute -top-8 -right-8 -z-10 lg:-top-16 lg:-right-24 dark:invert-80"
    alt=""
  />
</div>
