---
import HeroSocials from "@components/hero/HeroSocials.astro";
---

<div class="flex flex-col gap-2 md:gap-4" role="presentation">
  <h1 class="text-2xl sm:text-3xl lg:text-4xl">Hi! I'm Jerôme Abel</h1>
  <p
    class="font-title text-xl sm:text-2xl sm:tracking-wide lg:text-4xl lg:leading-tight"
  >
    A front-end developer with 10+<br />
    years background in interactive arts,<br />
    living in La Rochelle, France
  </p>
  <HeroSocials />
</div>
