---
import HeroSocials from "@components/hero/HeroSocials.astro";
---

<div class="flex flex-col justify-center gap-2 md:gap-4" role="presentation">
  <h1 class="text-2xl md:text-3xl lg:text-4xl">Hi! I'm Jerôme Abel</h1>
  <p
    class="font-title text-xl md:text-2xl md:tracking-wide lg:text-3xl lg:leading-tight 2xl:text-4xl"
  >
    A front-end developer with 10+<br />
    years background in interactive arts,<br />
    living in La Rochelle, France
  </p>
  <HeroSocials />
</div>
