---
import Link from "@components/links/Link.astro";
---

<div class="mt-6 flex items-center gap-4 lg:mt-10 lg:gap-6">
  <Link
    label="Contact me"
    href="mailto:dev@jeromeabel.net"
    icon="arrow-right"
    variant="cta"
  />
  <Link
    label="Github"
    href="https://github.com/jeromeabel"
    icon="mdi:github"
    variant="icon"
  />
  <Link
    label="LinkedIn"
    href="https://www.linkedin.com/in/jerome-abel/"
    icon="linkedin"
    variant="icon"
  />
</div>
