---
import HeroSocials from '@components/hero/HeroSocials.astro';
// backdrop-blur-md bg-[f5ffe1]/30
// items-center lg:items-start
// max-w-fit lg:max-w-full
// ms-0 lg:ms-24
---

<div class="flex flex-col gap-2 md:gap-4">
  <h1 class="text-2xl sm:text-3xl lg:text-4xl">Hi! I'm Jerôme Abel</h1>
  <p class="text-2xl lg:text-4xl font-title lg:leading-tight tracking-wide">
    A front-end developer with 10+<br />
     years background in interactive arts,<br />
     living in La Rochelle, France
  </p>
  <HeroSocials />
</div>
