---
import HeroSocials from "@components/hero/HeroSocials.astro";
import Link from "@components/Link2.astro";
---

<div class="flex flex-col justify-center gap-2 md:gap-4" role="presentation">
  <h1 class="text-xl md:text-3xl">Hi! I'm Jerôme Abel</h1>
  <p
    class="font-title text-xl md:text-2xl md:tracking-wide lg:text-3xl lg:leading-tight 2xl:text-4xl"
  >
    A front-end engineer working at <Link
      label="uhlive"
      href="https://uh.live/"
    />.<br />
    Funny thing: I have a 10+ year background in interactive arts.
  </p>
  <HeroSocials />
</div>
