---
import imageHero from "@assets/images/hero.svg";
import { Image } from "astro:assets";
// absolute -top-8 -right-8 -z-10 lg:-top-16 lg:-right-24
---

<div class="hidden place-self-end md:block">
  <Image loading="eager" src={imageHero} class="dark:invert-80" alt="" />
</div>
