---
import HeroAnimation from "@components/hero/HeroAnimation.astro";
import HeroText from "@components/hero/HeroText.astro";
---

<section
  class="container grid grid-cols-1 py-16 pe-0 sm:gap-16 md:grid-cols-2 md:gap-24"
>
  <HeroText />
  <HeroAnimation />
</section>
