---
import HeroAnimation from "@components/hero/HeroAnimation.astro";
import HeroText from "@components/hero/HeroText.astro";
---

<section class="container my-32 flex items-center gap-8 lg:h-[500px]">
  <HeroText />
  <HeroAnimation />
</section>
