---
import imageHero from '@assets/images/hero.svg';
import { Image } from 'astro:assets';
---
<div class="relative hidden md:block">
<Image loading="eager" src={imageHero} class="-top-8 -right-8 lg:-top-16 lg:-right-24 absolute -z-10" alt="" />
</div>