---
import skillsSVG from "@assets/images/skills.svg";
import skillsFlatDesign from "@assets/images/skills_design_flat.svg";
import skillsFlatEnv from "@assets/images/skills_env_flat.svg";
import skillsFlatFront from "@assets/images/skills_front_flat.svg";
import SkillsText from "@components/skills/SkillsText.astro";
import { Image } from "astro:assets";
---

<section class="flex flex-col gap-4 py-16 lg:gap-8" id="explore">
  <div class="container">
    <h2
      class="text-xl leading-none font-semibold tracking-widest uppercase sm:tracking-[0.2em] lg:text-3xl lg:tracking-[0.4rem]"
    >
      Let's Work<br />Together
    </h2>

    <div
      class="grid grid-flow-col grid-rows-3 items-center gap-16 py-8 md:py-16 lg:gap-4"
    >
      <Image
        class="reveal row-span-3 hidden md:block"
        src={skillsSVG}
        alt="my skills"
      />
      <SkillsText title="Design" id="01" image={skillsFlatDesign}>
        Interviews and specifications are stored in Markdown files and mermaid
        diagrams. Obsidian is my knowledge management system for connecting
        things together. It's time to translate your ideas into prototypes,
        components and animations with Figma and Inkscape.
      </SkillsText>
      <SkillsText title="Setup" id="02" image={skillsFlatEnv}>
        On my XUbuntu I use VS Code, Git, NodeJs and Vite as the core of the
        build system. If we're building a website, let's use Astro; for a mobile
        application, Expo is the one we need. We can even opt for a clean
        architecture in monorepo projects using NX tools.
      </SkillsText>
      <SkillsText title="Front-End" id="03" image={skillsFlatFront}>
        I use the rich Javascript and React ecosystem. For animations and rapid
        presentation prototyping, let's take Tailwind. I break the application
        into components, then secure it with TypeScript and Zod. To get a
        quality (and maintainable) application, I use Jest and Cypress to run
        the tests.
      </SkillsText>
    </div>
  </div>
</section>
