---
import { Icon } from 'astro-icon';
const { label, href, css = 'text-base lg:text-xl'} = Astro.props;
---
<a 
    class=`flex justify-between ${css} border-dashed border-b border-b-black hover:border-solid transition-all py-1`
    aria-label={label} 
    href={href}
    target="_blank">
    { label }
    <Icon name="mdi:arrow-top-right" class="h-6 ml-1" />
</a> 