---
import { Icon } from "astro-icon";
const { label, href, css = "text-base" } = Astro.props;
---

<a
  class=`flex justify-between ${css} border-dashed border max-w-fit rounded-full border-black hover:bg-white transition-all px-4 py-2`
  aria-label={label}
  href={href}
  target="_blank"
  rel="nofollow noopener noreferrer"
>
  {label}
  <Icon name="mdi:arrow-top-right" class="ml-1 h-6" />
</a>
