---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  label: string;
  icon: string;
}

const { label, icon, href, ...props } = Astro.props;
---

<a
  class="grid h-10 w-10 place-items-center rounded-full border border-dashed border-black transition hover:bg-white lg:h-14 lg:w-14"
  href={href}
  aria-label={label}
  title={label}
  target="_blank"
  rel="nofollow noopener noreferrer"
  {...props}
>
  <Icon name={icon} class="text-xl lg:text-3xl" />
</a>
