---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  label: string;
}

const { href, label, ...props } = Astro.props;

const { pathname } = Astro.url;
// const isActive = href === pathname || href === pathname.replace(/\/$/, '');
const currentPath = `/${pathname.split('/')[1].trim()}`; // remove the first "/"
const isActive =
  href === currentPath || href === currentPath.replace(/\/$/, '');
---

<a
  href={href}
  class:list={['text-xl text-zinc-600 hover:text-black hover:border-b border-black', { active: isActive }]}
  {...props}
  aria-label={`${label} page`}
  title={`${label} page`}
>
  {label}
</a>

<style>
  a.active {
    color: black;
    border-bottom: 1px solid black;
  }
</style>
