---
import SecondaryLink from '@components/links/SecondaryLink.astro';
import Layout from '@layouts/Layout.astro';
import img404 from '@assets/images/404.svg';
import { Image } from 'astro:assets';
---

<Layout page="Error 404" description="Error page">
  <main class="container h-[500px]">
    <div class="flex flex-col justify-center gap-12 items-center h-full">
      <Image src={img404} alt="Error 404 illustration" />
      <SecondaryLink label="Return to home" href="/" />
    </div>
  </main>
</Layout>

<style>
  /* html,
  body {
    height: 100%;
    overflow-x: hidden;
  } */

  body {
    display: flex;
    flex-direction: column;
  }
  body main {
    flex: 1 0 auto;
  }
  body footer {
    flex-shrink: 0;
  }
</style>
