---
import img404 from "@assets/images/404.svg";
import Link from "@components/ui/Link.astro";
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout page="Error 404" description="Error, page not found">
  <main class="grid items-center p-8">
    <div class="flex flex-col items-center justify-center gap-8 sm:gap-12">
      <Image src={img404} alt="Error 404 illustration" class="dark:invert" />
      <div class="flex items-center gap-16">
        <h1 class="text-xl font-semibold sm:text-2xl">
          Oups...<br /> Page Not Found
        </h1>
        <Link
          label="Return to home"
          href="/"
          variant="secondary"
          icon="lucide:arrow-right"
        />
      </div>
    </div>
  </main>
</Layout>
