---
import FeatureCard from "@components/about/FeatureCard.astro";
import H1 from "@components/ui/H1.astro";
import H2 from "@components/ui/H2.astro";
import Link from "@components/ui/Link.astro";
import Prose from "@components/ui/Prose.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout page="About">
  <main
    class="relative container flex flex-col gap-24 py-8 text-lg sm:text-xl lg:py-24"
  >
    <div
      class="absolute -top-[50px] -left-1/4 -z-10 aspect-square w-screen bg-[radial-gradient(ellipse_at_50%_50%,_#ff8a0460_0%,#f5ffe1_70%)] sm:w-[700px] dark:bg-[radial-gradient(ellipse_at_50%_50%,_#ff8a0430_0%,_#1e1e1e_70%)]"
    >
    </div>
    <header class="flex w-full flex-col gap-6 sm:gap-8 lg:w-2/3">
      <H1>About</H1>

      <Prose>
        <p>
          <em>Art is beautiful</em>. For over a decade, I’ve explored software
          arts, working with embedded systems, creative frameworks, and multiple
          programming languages. My projects have been exhibited in Brussels,
          Dakar, Montreal, Dubrovnik, Neuss, Tunis, Dublin, Paris, and beyond.
          It’s been a journey filled with collaboration, discovery, and
          meaningful experiences. If you're curious, you can check out my
          artistic work at <Link
            href="https://jeromeabel.net"
            label="jeromeabel.net"
          />.
        </p>

        <p>
          Today, I focus on front-end development, crafting modern,
          maintainable, and tested web applications. I completed a year-long
          program at OpenClassrooms, learning JavaScript, CSS, Sass, UI
          prototyping (Figma), design patterns, unit and integration testing,
          React, and Redux. More than just tools, I value clean architecture,
          testing, and performance, ensuring that what I build is solid and
          scalable.
        </p>

        <p>
          I look forward to working with talented engineers, learning from them,
          and building great things together. <Icon
            name="lucide:handshake"
            class="animate-rotate inline-block h-6 w-6"
          />
        </p>
      </Prose>
      <Link
        label="Download CV"
        href="/CV_JeromeAbel_en.pdf"
        icon="lucide:download"
        variant="external"
        class="mt-4"
      />
    </header>

    <section class="mt-0 lg:mt-12">
      <H2> My Way Of Doing </H2>
      <div
        class="my-8 grid grid-cols-1 gap-6 md:my-16 lg:grid-cols-3 2xl:gap-12"
      >
        <FeatureCard id="user" />
        <FeatureCard id="creativity" />
        <FeatureCard id="quality" />
      </div>
    </section>
  </main>
</Layout>

<style>
  @keyframes animRotation {
    from {
      transform: rotate(-15deg);
    }
    to {
      transform: rotate(15deg);
    }
  }
  @media (prefers-reduced-motion: reduce) {
    .animate-rotate {
      animation: none;
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .animate-rotate {
      animation: animRotation 1s ease-in-out infinite alternate;
    }
  }
</style>
