---
import AboutText from "@components/about/AboutText.astro";
import AboutValues from "@components/about/AboutValues.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout page="About">
  <main
    class="relative container flex flex-col gap-24 py-8 text-lg sm:text-xl lg:py-24"
  >
    <div
      class="absolute -top-[50px] -left-1/4 -z-10 aspect-square w-screen bg-[radial-gradient(ellipse_at_50%_50%,_#ff8a0460_0%,#f5ffe1_70%)] sm:w-[700px] dark:bg-[radial-gradient(ellipse_at_50%_50%,_#ff8a0430_0%,_#1e1e1e_70%)]"
    >
    </div>
    <AboutText />
    <AboutValues />
  </main>
</Layout>

<style>
  @keyframes animRotation {
    from {
      transform: rotate(-15deg);
    }
    to {
      transform: rotate(15deg);
    }
  }
  @media (prefers-reduced-motion: reduce) {
    .animate-rotate {
      animation: none;
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .animate-rotate {
      animation: animRotation 1s ease-in-out infinite alternate;
    }
  }
</style>
