---
import PrimaryLinkSimple from '@components/links/PrimaryLinkSimple.astro';
import Layout from '@layouts/Layout.astro';
import FeatureCard from '@components/FeatureCard.astro';
import Icon from 'astro-icon';
---

<Layout page="About" description="About Jérôme Abel, my may of doing">
  <main class="container py-8 lg:py-24 text-lg sm:text-xl flex flex-col gap-24">
    <header class="w-full lg:w-2/3 flex flex-col gap-6 sm:gap-8 relative">
      <h1
        class="font-title text-4xl sm:text-5xl lg:text-6xl uppercase tracking-widest"
      >
        About
      </h1>
      <p class="font-semibold">Art is beautiful, period.</p>
      <p>
        It can provide unique and multidimensional experiences, resonating with
        our feelings, perceptions and thoughts. That's why I've been working in
        software arts for over 10 years, exploring embedded systems, creative
        frameworks, and a dozen programming languages. My artistic projects have
        been exhibited in Brussels, Dakar, Montreal, Dubrovnik, Neuss, Tunis,
        Dublin, Paris and more. It was a lot of fun with nice people! If this
        side interests you, consider visiting my artistic projects on <a
          href="https://jeromeabel.net"
          target="_blank"
          title="jeromeabel.net"
          rel="nofollow noopener noreferrer">jeromeabel.net</a
        >.
      </p>
      <p class="font-semibold">
        Software development is a collective and organic exploration of
        humanity.
      </p>
      <p>
        Today, I am fully launching into the field of web development with a
        first specialty in front-end. I just finished a year-long learning
        program at OpenClassrooms, where I learned all the modern tools for
        creating modern, responsive websites: learning skills, writing technical
        specifications, CSS, Sass, creating prototypes in Figma, writing unit
        and integration tests, modern JavaScript and design patterns, making web
        apps with React and Redux.
      </p>
      <p>
        I look forward to growing in this field with brilliant people and
        engineers! <Icon
          name="fluent:handshake-24-regular"
          class="h-10 inline-block"
        />
      </p>

      <PrimaryLinkSimple
        label="Download CV"
        href="/ABEL_Jerome_CV_fr.pdf"
        icon="carbon:download"
      />
    </header>

    <section class="mt-0 lg:mt-12">
      <h2
        class="font-title text-4xl sm:text-5xl lg:text-6xl uppercase tracking-widest"
      >
        My Way Of Doing
      </h2>
      <div
        class="grid grid-cols-1 lg:grid-cols-3 gap-16 md:gap-8 py-8 lg:py-12"
      >
        <FeatureCard slug="user" />
        <FeatureCard slug="creativity" />
        <FeatureCard slug="quality" />
      </div>
    </section>
  </main>
  <div class="absolute inset-0 w-screen aspect-square -z-10 bg-[radial-gradient(ellipse_at_10%_40%,_#ff8a0460_0%,#f5ffe1_35%)] sm:bg-[radial-gradient(ellipse_at_20%_30%,_#ff8a0460_0%,#f5ffe1_25%)] md:bg-[radial-gradient(ellipse_at_20%_20%,_#ff8a0460_0%,#f5ffe1_15%)]"></div>
</Layout>

<style>
  .bgradial {

  }


       /* background: radial-gradient(ellipse at 50% 30%, #ff8a044a, #f5ffe1 40%); */

  /* mobile first
 @media screen (min-width:600px) {
    .bg-radial {
     background-color:blueviolet;
    }
  } */


  a {
    border-bottom: 1px dashed black;
  }
  a:hover {
    border-bottom: 1px solid black;
  }
</style>
