---
import PostList from "@components/blog/PostList.astro";
import SerieList from "@components/blog/SerieList.astro";
import H1 from "@components/ui/H1.astro";
import H2 from "@components/ui/H2.astro";
import P from "@components/ui/P.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout page="Work">
  <main class="container flex flex-col gap-16 py-8 md:gap-24 lg:py-24">
    <header class="flex w-full flex-col gap-4 lg:w-2/3 lg:gap-8">
      <H1>Blog</H1>
      <P
        >Insights, experiments, and lessons from my journey as a developer. More
        to come...</P
      >
    </header>

    <section>
      <H2>Posts</H2>
      <PostList />
    </section>

    <section>
      <H2>Serie</H2>
      <SerieList />
    </section>
  </main>
</Layout>
