---
import { getCollection } from 'astro:content';

import HomeLayout from "../layouts/HomeLayout.astro";
import Hero from "../components/Hero.astro";
import BgNoise from '../components/BgNoise.astro';
import Nav from '../components/Nav.astro';

---

<HomeLayout>
	<BgNoise />
	<main class="h-screen flex flex-col justify-between">
		<Nav />
		<Hero /> 	
	</main>
</HomeLayout>
