---
import Hero from '@components/Hero.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <Hero />
  <main class="container">
  <!-- <WorkPreview works={["hrnet", "argentbank"]} h1="I build" h2="Websites" color="orange" /> -->
  <!-- <WorkPreview works={["la-forme", "logariat"]} h1="I make" h2="Real-time applications" color="blue" /> -->
  <!-- <SecondaryLink label="Show All Works" href="/works" icon="plus" /> -->
  </main>
  <!-- <Contact /> -->
</Layout>
