---
import Hero from '@components/Hero.astro';
import WorksPreview from '@components/WorksPreview.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <Hero />
  <main class="container flex flex-col gap-16 mt-32">
    <WorksPreview works={["hrnet", "argentbank"]} title="I build" subtitle="Websites" class="text-orange-500" />
    <WorksPreview works={["la-forme", "logariat"]} title="I make" subtitle="Real-time applications" class="text-blue-500"  />
    <!-- <SecondaryLink label="Show All Works" href="/works" icon="plus" /> -->
  </main>
  <!-- <Contact /> -->
</Layout>
