---
import Hero from '@components/Hero.astro';
import WorksPreview from '@components/WorksPreview.astro';
import Layout from '@layouts/Layout.astro';
import SecondaryLink from '@components/links/SecondaryLink.astro';
import Contact from '@components/Contact.astro';
---

<Layout>
  <Hero />
  <main id="explore" class="container flex flex-col gap-16 lg:gap-32 mt-0 lg:mt-16 py-16">
    <WorksPreview
      works={['hrnet', 'argentbank']}
      title="I build"
      subtitle="Websites"
      class="text-orange-500"
    />
    <WorksPreview
      works={['la-forme', 'logariat']}
      title="I make"
      subtitle="Real-time applications"
      class="text-blue-500"
    />
    <div class="flex justify-center">
      <SecondaryLink
        label="See All Works"
        href="/works"      />
    </div>
  </main>
  <Contact />
</Layout>
