---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
---
<BaseLayout>
	<Hero 
		title="Hi, I'm Jérôme Abel"
		tagline="A Front-end developer with a +10 years backgound in interactive and electronic arts."
	/>
	<main>
		
	</main>
	<!-- Projects Grid -->
</BaseLayout>
