---
import { getCollection } from 'astro:content';
const posts = await getCollection('work');

import Layout from '@layouts/Layout.astro';
---

<Layout>

  <main
    class="flex flex-col gap-16 lg:gap-32 mt-0 lg:mt-16 pt-8 sm:pt-12 lg:pt-16 pb-16"
  >
	<ul>
		{posts.map(post => (
			<li><a href={`/work/${post.id}`}>{post.data.title}</a></li>
		))}
	</ul>
  </main>
</Layout>


	</body>
</html>
