---
import WorksList from '@components/WorksList.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <div class="pt-24 pb-16">
    <h2 id="works" class="text-2xl">Selected works</h2>
    <WorksList />
  </div>
</Layout>


<style>

* {
	scroll-behavior: smooth;
}

</style>