---

import HomeLayout from "../layouts/HomeLayout.astro";
import Hero from "../components/Hero.astro";
import BgNoise from '../components/BgNoise.astro';
import Nav from '../components/Nav.astro';

---

<HomeLayout>
	<BgNoise />
	<main class="flex flex-col">
		<Nav />
		<Hero />
	</main>
</HomeLayout>


<style>
	main {
		min-height: calc(100vh - 6rem);
		min-height: calc(100dvh - 6rem);
	}
	@media (min-height:768px){
		main {
			min-height: 100vh;
			min-height: 100dvh;
		}
	}
</style>