---
import Hero from '@components/hero/Hero.astro';
import WorksPreview from '@components/work/WorksPreview.astro';
import Layout from '@layouts/Layout.astro';
import SecondaryLink from '@components/links/SecondaryLink.astro';
import Contact from '@components/contact/Contact.astro';
import Skills from '@components/hero/Skills.astro';
---

<Layout>
  <Hero />
  <main
    id="explore"
    class="flex flex-col gap-16 lg:gap-32 mt-0 lg:mt-16 pt-8 sm:pt-12 lg:pt-16 pb-16"
  >
    <Skills />
    <WorksPreview
      works={['hrnet', 'argentbank']}
      title="I build"
      subtitle="Websites"
      class="text-green-700"
    />
    <WorksPreview
      works={['la-forme', 'logariat']}
      title="I make"
      subtitle="Real-time applications"
      class="text-blue-600"
    />
    <div class="flex justify-center">
      <SecondaryLink label="See All Works" href="/works" />
    </div>
  </main>
  <Contact />
</Layout>
