---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	page="Projects"
	description="Learn about Jérôme Abel's most recent projects"
>
	<main>
        <h1>Projects</h1>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<ProjectCard project={project} />
						</li>
					))
				}
			</Grid>

    </main>
</BaseLayout>
