---
import { getCollection } from "astro:content";

import WorkCard from "@components/work/WorkCard.astro";
import Layout from "@layouts/Layout.astro";

const works = (await getCollection("work")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout page="Work">
  <main class="container py-8 lg:py-24">
    <header class="flex w-full flex-col gap-4 lg:w-2/3 lg:gap-8">
      <h1
        class="font-title text-4xl tracking-widest uppercase sm:text-5xl lg:text-6xl"
      >
        Work
      </h1>
      <p
        class="text-xl leading-normal tracking-normal sm:text-2xl md:tracking-wide lg:text-3xl"
      >
        Here, you'll find a collection of my web development projects and
        creative software explorations, combining technical skills with
        thoughtful design.
      </p>
    </header>

    <section
      class="mt-8 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:mt-24 lg:grid-cols-3"
    >
      {works.map((work) => <WorkCard slug={work.id} />)}
    </section>
  </main>
</Layout>
