---
import { getCollection } from "astro:content";

import H1 from "@components/ui/H1.astro";
import P from "@components/ui/P.astro";
import WorkCardImage from "@components/work/WorkCardImage.astro";
import Layout from "@layouts/Layout.astro";

const works = (await getCollection("work")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout page="Work">
  <main class="container py-8 lg:py-24">
    <header class="flex w-full flex-col gap-4 lg:w-2/3 lg:gap-8">
      <H1>Work</H1>
      <P>
        Here, you'll find a collection of my web development projects and
        creative software explorations, combining technical skills with
        thoughtful design.
      </P>
    </header>

    <section
      class="mt-8 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:mt-24 lg:grid-cols-3"
    >
      {works.map((work) => <WorkCardImage {work} />)}
    </section>
  </main>
</Layout>
