---
import { getCollection } from 'astro:content';

import Layout from '@layouts/Layout.astro';
import WorkCard from '@components/work/WorkCard.astro';

const works = await getCollection('works');
---

<Layout page="Works">
  <main class="container py-8 lg:py-24">
    <header class="w-full lg:w-2/3 flex flex-col gap-4 lg:gap-8">
      <h1
        class="font-title text-4xl sm:text-5xl lg:text-6xl uppercase tracking-widest"
      >
        Works
      </h1>
      <p
        class="text-xl sm:text-2xl lg:text-3xl leading-normal tracking-normal md:tracking-wide"
      >
        Here you will find a list of my work in web development from my recent
        Front-End Developer certification and my artistic projects involving
        software development.
      </p>
    </header>

    <section
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 lg:mt-24"
    >
      {works.map((work) => <WorkCard slug={work.slug} layout={3} />)}
    </section>
  </main>
</Layout>
