---
import Curve from "@assets/images/arrow-curve2.svg";

import H2 from "@components/ui/H2.astro";
import Link from "@components/ui/Link2.astro";
//-top-9 -right-[130px] z-20 sm:-top-[56px] sm:-right-[278px] sm:w-72 dark:invert
---

<div class="flex flex-col gap-8">
  <H2>LET'S TALK</H2>

  <div class="flex flex-col">
    <h3 class="text-muted">Email me at</h3>
    <p>
      <Link
        href="mailto:dev@jeromeabel.net"
        label="dev@jeromeabel.net"
        variant="bold"
      />
    </p>
  </div>

  <div class="flex flex-col gap-2">
    <h3 class="text-muted">Follow</h3>
    <div class="flex gap-3">
      <Link
        label="GitHub"
        href="https://github.com/jeromeabel"
        icon="fa6-brands:github"
        variant="icon"
      />
      <Link
        label="Bluesky"
        href="https://bsky.app/profile/jeromeabel.bsky.social"
        icon="fa6-brands:bluesky"
        variant="icon"
      />
      <div class="relative">
        <Link
          label="LinkedIn"
          href="https://www.linkedin.com/in/jerome-abel/"
          icon="fa6-brands:linkedin-in"
          variant="icon"
          class="animate-[bounce_2.5s_ease-in_infinite]"
        />
        <div
          class="anim-shadow border-muted absolute -bottom-0 -z-10 w-full rounded-lg border-t"
        >
        </div>
        <div
          class="border-muted-border absolute -top-10 left-8 flex w-100 gap-2 lg:-top-12 lg:left-12"
        >
          <Curve />
          <p class="font-title w-full rotate-5 text-2xl lg:text-3xl">
            I post sometimes<br /> on LinkedIn...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  @media (prefers-reduced-motion: no-preference) {
    .anim-shadow {
      animation: anim-width 2.5s 100ms ease-in-out infinite;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .anim-shadow {
      visibility: hidden;
    }
  }

  @keyframes anim-width {
    0%,
    100% {
      transform: scaleX(0.3);
      opacity: 0.2;
    }
    50% {
      transform: scaleX(0.45);
      opacity: 0.6;
    }
  }
</style>
