---
import { Image } from "astro:assets";
import IconLinkSmall from "@components/links/IconLinkSmall.astro";
import curveImg from "@assets/images/curve_arrow_text.svg";
---

<div class="flex flex-col gap-8">
  <h2
    class="text-xl leading-none font-semibold tracking-[0.2em] uppercase lg:text-3xl lg:tracking-[0.4rem]"
  >
    LET'S TALK
  </h2>

  <div class="flex flex-col">
    <h3 class="text-slate-500">Email me at</h3>
    <p>
      <a class="font-semibold" href="mailto:dev@jeromeabel.net" title="Email">
        dev@jeromeabel.net
      </a>
    </p>
  </div>

  <div class="flex flex-col gap-2">
    <h3 class="text-slate-500">Follow</h3>
    <div class="flex gap-3">
      <IconLinkSmall
        label="GitHub"
        href="https://github.com/jeromeabel"
        icon="mdi:github-face"
      />
      <IconLinkSmall
        label="Framagit"
        href="https://framagit.org/jeromeabel"
        icon="fa-brands:gitlab"
      />
      <div class="relative">
        <IconLinkSmall
          label="LinkedIn"
          href="https://www.linkedin.com/in/jerome-abel/"
          icon="linkedin"
          animate={true}
        />

        <div
          class="absolute -top-9 -right-[130px] z-20 w-36 sm:-top-[56px] sm:-right-[278px] sm:w-72"
        >
          <Image
            src={curveImg}
            class="w-full object-cover"
            alt="I post weekly on LinkedIn."
          />
        </div>
      </div>
    </div>
  </div>
</div>
