---
import curveImg from "@assets/images/curve_arrow_text.svg";
import Link from "@components/links/Link.astro";
import { Image } from "astro:assets";
---

<div class="flex flex-col gap-8 text-black">
  <h2
    class="text-xl leading-none font-semibold tracking-[0.2em] uppercase lg:text-3xl lg:tracking-[0.4rem]"
  >
    LET'S TALK
  </h2>

  <div class="flex flex-col">
    <h3 class="text-muted">Email me at</h3>
    <p>
      <a class="font-semibold" href="mailto:dev@jeromeabel.net" title="Email">
        dev@jeromeabel.net
      </a>
    </p>
  </div>

  <div class="flex flex-col gap-2">
    <h3 class="text-muted">Follow</h3>
    <div class="flex gap-3">
      <Link
        label="GitHub"
        href="https://github.com/jeromeabel"
        icon="fa-brands:github"
        variant="icon"
      />

      <div class="relative">
        <Link
          label="LinkedIn"
          href="https://www.linkedin.com/in/jerome-abel/"
          icon="linkedin"
          variant="icon"
        />
        <div
          class="absolute -top-9 -right-[130px] z-20 w-36 sm:-top-[56px] sm:-right-[278px] sm:w-72"
        >
          <Image
            src={curveImg}
            class="w-full object-cover"
            alt="I post weekly on LinkedIn."
          />
        </div>
      </div>
    </div>
  </div>
</div>
