---
import ContactImage from "@components/contact/ContactImage.astro";
import ContactNoise from "@components/contact/ContactNoise.astro";
import ContactText from "@components/contact/ContactText.astro";
---

<section
  role="complementary"
  class="relative mt-0 py-8 text-xl sm:mt-32 sm:py-20"
>
  <ContactNoise />
  <div class="container flex justify-between">
    <ContactText />
    <ContactImage />
  </div>
</section>
