---
import IconLinkSmall from '@components/links/IconLinkSmall.astro';
import curveImg from '@assets/images/curve_arrow_text.svg';
---

<div class="flex flex-col gap-8">
  <h2 class="text-xl lg:text-3xl uppercase font-semibold lg:font-extrabold tracking-[0.2em] lg:tracking-[0.4rem] leading-none">
    LET'S TALK
  </h2>

  <div class="flex flex-col">
    <h3 class="text-slate-500">Email me at</h3>
    <p>
      <a class="font-semibold" href="mailto:dev@jeromeabel.net" title="Email">
        dev@jeromeabel.net
      </a>
    </p>
  </div>

  <div class="flex flex-col gap-2">
    <h3 class="text-slate-500">Follow</h3>
    <div class="flex gap-3">
      <IconLinkSmall
        label="GitHub"
        href="https://github.com/jeromeabel"
        icon="mdi:github-face"
      />
      <IconLinkSmall
        label="Framagit"
        href="https://framagit.org/jeromeabel"
        icon="fa-brands:gitlab"
      />
      <div class="relative">
        <IconLinkSmall
          label="LinkedIn"
          href="https://www.linkedin.com/in/jerome-abel/"
          icon="linkedin"
          animate={true}
        />

        <div class="absolute w-40 -top-8 -right-40 sm:w-72 sm:-top-[52px] sm:-right-[278px]">
          <img src={curveImg.src} width="288" height="53" alt="I post weekly on LinkedIn." />
        </div>
      </div>
    </div>
  </div>
</div>
