---
import ContactNoise from '@components/contact/ContactNoise.astro';
import ContactText from '@components/contact/ContactText.astro';
import ContactImage from '@components/contact/ContactImage.astro';
---

<section
  role="complementary"
  class="mt-0 sm:mt-32 text-xl  py-8 sm:py-20 border-t-2 border-b-2 border-dashed border-black relative"
>
  <ContactNoise />
  <div class="container flex justify-between">
    <ContactText />
    <ContactImage />
  </div>
</section>
