---
import footerImg from "@assets/images/footer_400px.svg";
import { Image } from "astro:assets";
//
---

<div class="relative hidden flex-1 sm:block">
  <Image
    class="absolute -top-40 -right-16 z-10 scale-75 lg:scale-100 dark:invert"
    src={footerImg}
    alt=""
    width="433"
    height="400"
  />
</div>
