<div class="bgnoise"></div>

<style>
  .bgnoise {
    border: none;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: var(--color-white);
  }

  @media (min-width: 640px) {
    .bgnoise {
      filter: contrast(100%) brightness(850%);
      background:
        linear-gradient(250deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
        linear-gradient(150deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.2)),
        linear-gradient(180deg, rgba(255, 255, 255, 0.45), rgba(0, 0, 0, 0)),
        linear-gradient(270deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 148 148' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    }
  }
</style>
