---
import ContactImage from "@components/contact/ContactImage.astro";
import ContactText from "@components/contact/ContactText.astro";
---

<section
  role="complementary"
  class="border-muted/50 relative border-t border-b py-8 text-xl sm:mt-32 sm:py-20"
>
  <div class="container flex justify-between">
    <ContactText />
    <ContactImage />
  </div>
</section>
