---
import footerImg from '@assets/images/footer_400px.svg';
import { Image } from 'astro:assets';
//width="433" height="400"
---

<div class="relative hidden sm:block flex-1">
  <Image class="absolute -top-40 -right-16 z-10" src={footerImg} alt="" />
</div>
