---
import Link from "@components/ui/Link2.astro";

const today = new Date();

const links = [
  { label: "Art Portfolio", href: "https://jeromeabel.net" },
  { label: "Framagit", href: "https://framagit.org/jeromeabel" },
  { label: "GitHub", href: "https://github.com/jeromeabel" },
  { label: "Bluesky", href: "https://bsky.app/profile/jeromeabel.bsky.social" },
  { label: "LinkedIn", href: "https://www.linkedin.com/in/jerome-abel/" },
  { label: "Email", href: "mailto:dev@jeromeabel.net" },
];
---

<footer class="text-muted py-8 sm:py-16 lg:text-base">
  <div class="container flex flex-col justify-between gap-8 sm:flex-row">
    <p>Jérôme Abel - {today.getFullYear()}</p>
    <ul class="flex flex-col gap-2 sm:flex-row sm:gap-6">
      {
        links.map((link) => (
          <li>
            <Link label={link.label} href={link.href} />
          </li>
        ))
      }
    </ul>
  </div>
</footer>
