---
const today = new Date();
---

<footer
  class="text-muted dark:text-muted-dark py-8 text-sm sm:py-16 lg:text-base"
>
  <div class="container flex flex-col justify-between gap-8 sm:flex-row">
    <p>Jérôme Abel - {today.getFullYear()}</p>
    <div class="flex flex-col gap-2 sm:flex-row sm:gap-6">
      <a
        href="mailto:dev@jeromeabel.net"
        title="Email"
        target="_blank"
        rel="nofollow noopener noreferrer">Email</a
      >
      <a
        href="https://www.linkedin.com/in/jerome-abel/"
        title="LinkedIn"
        target="_blank"
        rel="nofollow noopener noreferrer">LinkedIn</a
      >
      <a
        href="https://github.com/jeromeabel"
        title="Github"
        target="_blank"
        rel="nofollow noopener noreferrer">Github</a
      >
      <a
        href="https://framagit.org/jeromeabel"
        title="Framagit"
        target="_blank"
        rel="nofollow noopener noreferrer">Framagit</a
      >
      <a
        href="https://jeromeabel.net"
        title="Art Portfolio jeromeabel.net"
        target="_blank"
        rel="nofollow noopener noreferrer">Art Portfolio</a
      >
    </div>
  </div>
</footer>

<style>
  a {
    border-bottom: 1px dashed var(--color-black);
    max-width: fit-content;
  }

  a:hover {
    border-bottom: 1px solid var(--color-black);
  }
</style>
