<div class="bgnoise"></div>

<style>
  .bgnoise {
    border: none;
    position: absolute;
    inset: 0;
    z-index: -10;
    filter: contrast(160%) brightness(100%) invert(100%);
    background: linear-gradient(
        180deg,
        rgba(59, 59, 59, 1),
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(167deg, rgba(10, 10, 9, 1), rgba(180, 180, 185, 0)),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 236 236' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5.6' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }
</style>
