---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  label: string;
}

const { href, label, ...props } = Astro.props;

---
<a href="" class="highlight rounded-full py-3 px-4 text-xl uppercase inline hover:text-black text-white hover:bg-white bg-black">{label}</a>


<style>
    .highlight.active {
        background-color: white;
    }
    .highlight::before{
        position: absolute;
        content:"";
        inset:0;
        background-color: rgba(255,255,255,0.75);
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 400ms ease-in-out;
    }
    .highlight:hover::before{
        transform: scaleX(100%);
    }
</style>