---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon';

interface Props extends HTMLAttributes<'a'> {
  label: string;
}

const { href, label, ...props } = Astro.props;

// <Icon name="fa:paper-plane" class="w-10" />
---

<div class="relative  inline-block overflow-hidden rounded-full border-dashed border-black border ">
  <a
    href="mailto:dev@jeromeabel.net"
    class="highlight block text-xl px-6 py-4 text-white bg-black"
    >{label}</a
  >
  
</div>

<style>
  .highlight.active {
    /* background-color: white; */
  }
  .highlight::before {
    position: absolute;
    content: '';
    inset: 0;
    background-color: rgba(255, 255, 255, 1);
    /* background-color:white; */
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms ease-in-out;
  }
  .highlight:hover::before {
    transform: scaleX(100%);
  }
</style>
