---

// import { Icon } from "astro-icon";

---

<div class="text-center h-32 pb-8 ">
	<a
		href="#projects"
		class="inline-flex flex-col justify-center items-center h-24 w-24 bg-white rounded-full
        transition ease-in-out delay-150 hover:translate-y-4 duration-300 "
		aria-label="Explorer mes projets" >
		    Explore
            <svg 
                xmlns="http://www.w3.org/2000/svg" 
                fill="none" 
                viewBox="0 0 24 24" 
                stroke-width="1.5"
                stroke="currentColor" 
                class="w-6 h-6">
			    <path 
                    stroke-linecap="round" 
                    stroke-linejoin="round" 
                    d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" />
		    </svg>
		</a>
</div>