---
const today = new Date();
---

<footer class="py-16 bg-white">
  <div class="container flex justify-between">
    <p>Jérôme Abel - {today.getFullYear()}</p>
    <div class="flex gap-4 socials">
      <a
        href="mailto:dev@jeromeabel.net"
        title="Email"
        target="_blank"
        rel="nofollow noopener noreferrer">Email</a
      >
      <a
        href="https://www.linkedin.com/in/jerome-abel/"
        title="github"
        target="_blank"
        rel="nofollow noopener noreferrer">LinkedIn</a
      >

      <a
        href="https://github.com/jeromeabel"
        title="Github"
        target="_blank"
        rel="nofollow noopener noreferrer">Github</a
      >
      <a
        href="https://framagit.org/jeromeabel"
        title="Framagit"
        target="_blank"
        rel="nofollow noopener noreferrer">Framagit</a
      >
      <a
        href="https://jeromeabel.net"
        title="Art Portfolio jeromeabel.net"
        target="_blank"
        rel="nofollow noopener noreferrer">Art Portfolio</a
      >
    </div>
  </div>
</footer>

<style>
  a {
    border-bottom: 1px dashed black;
  }

  a:hover {
    border-bottom: 1px solid black;
  }
</style>
