---
const today = new Date();
---

<footer class="py-12">
  <div class="container flex justify-between">
    <p>Jérôme Abel - 2023</p>
    <div class="flex gap-4 socials">
      <a href="mailto:dev@jeromeabel.net" title="Email" target="_blank">Email</a
      >
      <a
        href="https://www.linkedin.com/in/jerome-abel/"
        title="github"
        target="_blank">LinkedIn</a
      >

      <a href="https://github.com/jeromeabel" title="Github" target="_blank"
        >Github</a
      >
      <a href="https://framagit.org/jeromeabel" title="Framagit" target="_blank"
        >Framagit</a
      >
      <a href="https://jeromeabel.net" title="Art Portfolio jeromeabel.net" target="_blank"
        >Art Portfolio</a
      >
    </div>
  </div>
</footer>

<style>
  .socials > a {

    border-bottom: 1px dashed black;
  }
</style>
