---
import IconLink from "./IconLink.astro";

const links: {label:string, href:string, icon:string,  }[] = [
	{ label: 'LinkedIn', href: 'https://www.linkedin.com/in/jerome-abel',  icon: 'linkedin'},
	{ label: 'Github', href: 'https://github.com/jeromeabel',  icon: 'github' }, 
    { label: 'Framagit', href: 'https://framagit.org/jeromeabel',  icon: 'gitlab' },
	{ label: 'Email', href: 'mailto:dev@jeromeabel.net',  icon: 'email'},
];
---

<footer class="py-16 mt-16 self-end">
    <div class="container mx-auto">
            <ul class="flex gap-4 justify-end">
            { links.map( link => <li><IconLink link={link} /></li>) }
            </ul>
    </div>
</footer>