---
import NavLink from '@components/links/NavLink.astro';
---

<header class="py-4 lg:py-6">
  <nav class="container">
    <ul class="flex gap-6 lg:gap-10 justify-start lg:justify-end">
      <li><NavLink label="Home" href="/" /></li>
      <li><NavLink label="Work" href="/work" /></li>
      <li><NavLink label="About" href="/about" /></li>
    </ul>
  </nav>
</header>
