---
import { Icon } from 'astro-icon';

import NavLink from '@components/links/NavLink.astro';
---

<header class="py-6">
  <nav class="container">
    <ul class="flex gap-10 justify-end">
      <li><NavLink label="Home" href="/" /></li>
      <li><NavLink label="Works" href="/works" /></li>
      <li><NavLink label="About" href="/about" /></li>
    </ul>
  </nav>
</header>
