---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  label: string;
}

const { href, label, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
//rounded-full px-3 border border-dashed border-grey
---

<a
  href={href}
  class:list={['text-xl text-zinc-500 hover:text-zinc-900', { active: isActive }]}
  {...props}
  aria-label={`${label} page`}
  title={`${label} page`}
>
  {label}
</a>

<style>
  a.active {
    text-underline-offset: 10px;
    text-decoration:underline;
  }
</style>
