---
interface Props {
	title: string;
	tagline?: string;
}

const { tagline, title } = Astro.props as Props;
---
<header>
	<div class="stack gap-2">
		<h1 class="title">{title}</h1>
		{tagline && <p class="tagline">{tagline}</p>}
	</div>
</header>
<!-- <Pill><Icon icon="code" size="1.33em" /> Developer</Pill>
<Pill><Icon icon="microphone-stage" size="1.33em" /> Speaker</Pill>
<Pill><Icon icon="pencil-line" size="1.33em" /> Writer</Pill> -->