---
// interface Props {
// 	title: string;
// 	tagline?: string;
// }

// const { tagline, title } = Astro.props;

import { Icon } from 'astro-icon';

---
<header class="h-2/3 container mx-auto grid items-center">
		<div class="w-2/3">
			<h1>Hi, I'm <strong>Jérôme Abel</strong></h1>
			<p class="text-5xl italic font-brand pt-4">
				A <span class="tagline">front-end developer</span> with 10+ years<br/>background in interactive arts
			</p> 
		</div>
</header>

<style>
	.tagline {
		display: inline-block;
		position: relative;
		font-weight: 400;
	}

	.tagline::before{
		position: absolute;
		content:"";
		background-color:rgba(0, 255, 225, 0.391);
		/* background-color:rgba(255, 255, 255, 1); */
		bottom:1px;
		left:0;
		right:0;
		height:50%;
		z-index:-1;
		transform-origin: left;
		animation:scaleX 1s 800ms ease-in-out both;
	}

	@keyframes scaleX {
		from { 
			transform: scaleX(0);
		}
		to { 
			transform: scaleX(100%);
		}
	}
</style>