---

import ArrowLink from '@components/link/ArrowLink.astro';

---

<header class="container mb-7 flex-1 flex flex-col justify-center">
		<div class="m-w-full md:w-4/5 lg:w-2/3 flex flex-col justify-around md:justify-evenly">
			<div class="anim1 py-6">
				<h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl">Hi, I'm <strong>Jérôme Abel</strong></h1>
				<p class="italic font-brand pt-4 w-full text-3xl sm:text-4xl md:text-5xl lg:text-6xl">
					A <span class="tagline">front-end developer</span> with 10+ years background in interactive arts
				</p>
			</div>
			<div class="py-6 flex flex-col md:flex-row gap-4 md:gap-6 xl:gap-8 anim2">
				<ArrowLink href="mailto:dev@jeromeabel.net" label="Email" />
				<ArrowLink href="https://github.com/jeromeabel" label="Github" />
				<ArrowLink href="https://www.linkedin.com/in/jerome-abel/" label="LinkedIn" />
			</div>
		</div>
</header>

<style>
	.anim1 {
		animation: animTitle 1s  ease-in-out both;
	}
	.anim2 {
		animation: animTitle 1s 0.5s  ease-in-out both;
	}
	@keyframes animTitle {
		from{opacity: 0;transform: translateY(20%)}
		to{opacity: 1;transform: translateY(0);}
	}
	.tagline {
		display: inline-block;
		position: relative;
		font-weight: 400;
	}
	.tagline::before{
		position: absolute;
		content:"";
		background-color:rgba(255, 255, 255, 1);
		bottom:1px;
		left:0;
		right:0;
		height:50%;
		z-index:-1;
		transform-origin: left;
		animation:scaleX 1.5s 1s ease-in-out both;
	}
	@keyframes scaleX {
		from { 
			transform: scaleX(0);
		}
		to { 
			transform: scaleX(100%);
		}
	}
</style>