---
interface Props {
	title: string;
	tagline?: string;
}

const { tagline, title } = Astro.props;
---
<header>
	<div class="stack gap-2">
		<h1 class="title">{title}</h1>
		{tagline && <p class="tagline">{tagline}</p>}
	</div>
</header>