---
import ExploreLink from '@components/links/ExploreLink.astro';
import HeroText from '@components/hero/HeroText.astro';
import HeroImage from '@components/hero/HeroImage.astro';
import heroImage from '@assets/images/hero.png';

// export const prerender = true;
---

<section class="relative container pt-12 lg:pt-24">
  <HeroText />
  <HeroImage />
  <ExploreLink />
</section>
