---
import { Icon } from 'astro-icon';
const { label, href, icon } = Astro.props.link;
---								
<a 
    class="h-10 block w-10 p-1 transform rounded-full bg-white text-2xl text-black duration-500 hover:rotate-12 hover:-translate-y-1 hover:bg-black hover:text-white"
    aria-label={label} 
    href={href}>
    <Icon pack="mdi" name={icon} />
</a>