---
const navLinks: {label:string, href:string}[] = [
	{ label: 'Home', href: '/' },
	{ label: 'Projects', href: '/projects/' },
	{ label: 'About', href: '/about/' },
];
---
<nav>
    <ul>
    { navLinks.map(({ label, href }) => (
        <li>
			<a
		    	aria-current={Astro.url.pathname === href}
			    class:list={[ 
					'link', 
					{ active: Astro.url.pathname === href || (href !== '/' && Astro.url.pathname.startsWith(href)),},
					]}
				href={href}>
                    {label}
			</a>
		</li>
	))}
    </ul>
</nav>