---

import NavLink from "@components/link/NavLink.astro";
import HomeLink from "@components/link/HomeLink.astro";

---

<div class="h-20 lg:h-28">
	<nav class="container h-full flex items-center justify-between">
			<HomeLink label='Home' href='/' icon="hand-wave" /> 
			<ul class="flex gap-6 items-center">
				<li><NavLink label="Work" href="/work/" /></li>
				<li><NavLink label="About" href="/about/" /></li>
			</ul>
	</nav>
</div>