---

const { label, href, highlight } = Astro.props.link;
const isActive = Astro.url.pathname === href || (href !== '/' && Astro.url.pathname.startsWith(href));

---								
<a 
    class={` ${isActive ? 'active' : ''} ${highlight ? 'highlight' : ''} py-1 align-baseline font-brand border-b border-transparent hover:border-b-black text-base md:text-xl`} 
    aria-label={label} 
    href={href}>
    { label.toUpperCase() }
</a> 

<style>
   .highlight {
        border:1px dashed black;
        padding:0.25em 0.5em;
        border-radius: 10em;
    }
    .highlight:hover {
        border:1px double black;
    }
    .highlight.active {
        border:1px solid black;
    }
    .active {
        border-bottom: 1px solid black;
    }
</style>