---
import type { CollectionEntry } from 'astro:content';

interface Props {
	project: CollectionEntry<'projects'>;
}

const { data, slug } = Astro.props.project;
// loading="lazy" decoding="async"
---
<a href={`/projects/${slug}`}>
	<article class="overflow-hidden h-96 relative
	before:block before:absolute before:inset-0
	before:bg-gradient-to-r before:from-blue-800 before:to-green-500 before:opacity-50
	hover:before:opacity-90 hover:before:transition-opacity hover:before:duration-300">
			<div class="absolute text-white inset-0 opacity-0 hover:transition-opacity hover:opacity-90 hover:duration-300 flex flex-col justify-center items-center">
			<h3>{data.title}</h3>
            <p class="w-1/2 mt-4">{data.description}</p>
		</div>
		<img src={data.img} alt={data.img_alt || data.title }  class="block w-full h-full object-cover object-top " />
	</article>
</a>


<!--
before:-z-10
	translate-y-6 transform-gpu


	
	&:hover::before {
    opacity: 0.1;
    transition: opacity 0.35s ease-in-out;
  }

    border-radius: 10px;
    bottom: 0;
    content: "";
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
 -->

<!-- <div class="flex h-screen justify-center items-center flex-col  h-96">
    <div
        class="w-full h-screen bg-[url('https://placekitten.com/1400')] bg-cover bg-center">
        <div class="w-full h-full flex  justify-center items-center 
             bg-blue-600/30 backdrop-brightness-75">
                <span class="text-white text-4xl w-1/2 text-center">Here is an example of colored overlay on an image</span>
        </div>
    </div>
</div> -->