---
import { getEntry } from 'astro:content';
import Icon from 'astro-icon';
interface Props {
  id: string;
}

const { id } = Astro.props;

const work = await getEntry('works', id);
---

<article class="flex-1 aspect-square bg-white group">
  <a href={'/works/' + work?.slug} class="relative">
    <img src={work?.data.img_preview.src} />
    <div class="absolute inset-0 grid place-items-center bg-black bg-opacity-0 group-hover:bg-opacity-80 duration-500 transition-all">
      <div
        class="flex-col gap-6 flex opacity-0 group-hover:opacity-100 duration-500 "
      >
        <Icon
          name="icon_big_arrow_cross"
          class="h-32 rotate-45 group-hover:rotate-0 transition-all duration-700"
        />
        <p class="text-white text-6xl font-title">{work?.data.title}</p>
      </div>
    </div>
  </a>
</article>
