---
import { CollectionEntry, getCollection } from 'astro:content';

import BaseLayout from '../../layouts/BaseLayout.astro';

interface Props {
	entry: CollectionEntry<'projects'>;
}

export async function getStaticPaths() {
	const projects = await getCollection('projects');
	return projects.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout>
	
	<main>
		<h1>{entry.data.title}</h1>
<p>{entry.data.description}</p>

	</main>
</BaseLayout>

