---
import SeriePostCard from "@components/blog//SeriePostCard.astro";
import PostCard from "@components/blog/PostCard.astro";
import H2 from "@components/ui/H2.astro";
import Link from "@components/ui/Link.astro";
import { getAllBlogPosts } from "src/utils/repository";

const NB_POSTS = 6;
const allPosts = await getAllBlogPosts(NB_POSTS + 1);
---

<section class="container flex flex-col gap-4 lg:gap-8">
  <H2>Latest Posts</H2>
  <div class="grid gap-4 md:grid-cols-2 lg:gap-8">
    {
      allPosts.map((post) => {
        if (post.collection === "post") return <PostCard {post} />;
        return <SeriePostCard {post} />;
      })
    }
  </div>

  {
    allPosts.length > NB_POSTS ? (
      <Link
        class="mt-8"
        label="See more posts"
        href="/blog"
        icon="lucide:arrow-right"
        variant="secondary"
      />
    ) : (
      ""
    )
  }
</section>
