---
interface Props {
  visible: boolean;
}

const { visible } = Astro.props;
---

{
  visible && (
    <span class="border-muted-border bg-muted-background w-fit rounded-full px-2 py-1 uppercase">
      draft
    </span>
  )
}
