---
import { getEntry } from "astro:content";

interface Props {
  id: string;
}

const { id } = Astro.props;

const entry = await getEntry("blog", id);

if (!entry) {
  throw new Error("Sorry, could not find entry");
}

const dateOptions: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
const dateISOString = new Date(entry.data.date).toLocaleDateString(
  "en-EN",
  dateOptions,
);
---

<a
  href=`/blog/${entry.id}`
  class="border-muted-border hover:bg-muted-background borde4 flex items-center gap-4 border"
  ><div
    class="border-muted-border bg-muted-background flex h-full w-8 items-center justify-center border-e font-semibold"
  >
    {entry.data.order}
  </div><div class="py-2">
    <h2 class="font-semibold">{entry.data.title}</h2><time
      class="text-muted first-letter:uppercase">{dateISOString}</time
    >
  </div>
</a>
