---
import type { CollectionEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

if (!post) {
  throw new Error("Sorry, could not find post");
}

const dateOptions: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "short",
  day: "numeric",
};
const dateISOString = new Date(post.data.date).toLocaleDateString(
  "en-EN",
  dateOptions,
);
---

<a
  href=`/blog/${post.id}`
  class="border-muted-border hover:bg-muted-background flex items-center gap-1 border px-1 py-2 md:gap-2 md:p-3"
  ><span class="text-muted">
    {post.data.order} 🞄
  </span><div class="flex flex-1 items-center justify-between">
    <h2>{post.data.title}</h2>
    <time class="text-muted text-xs md:text-base">{dateISOString}</time>
  </div>
</a>
