---
import '../styles/global.css';

import "@fontsource/bubbler-one"
import "@fontsource/ibm-plex-sans"

import SiteHead from "@components/SiteHead.astro";
import Navigation from "@components/Navigation.astro";
import Footer from "@components/Footer.astro";
import BgNoise from '@components/BgNoise.astro';

export interface Props {
	page?: string | undefined;
	description?: string | undefined;
	image?: string | undefined;
}

const { page, description, image } = Astro.props;

---

<html lang="en">
	<head>
		<SiteHead page={page} description={description} image={image} />
	</head>
	<body>
		<!-- <BgNoise /> -->
		<main class="flex flex-col pb-6 lg:pb-20">
			<Navigation />
			<div class="container py-none lg:py-6">
				<slot />
			</div>
		</main>
	</body>
</html>

<style>
	/* main {
		min-height: calc(100vh - 6rem);
		min-height: calc(100dvh - 6rem);
	}
	@media (min-height:768px){
		main {
			min-height: 100vh;
			min-height: 100dvh;
		}
	} */
</style>
