---
import '../styles/global.css';

import "@fontsource/alegreya"
import "@fontsource/alegreya-sans"
import "@fontsource/rubik"
import "@fontsource/rubik-beastly"
import "@fontsource/philosopher"
import "@fontsource/bubbler-one"
import "@fontsource/lora"
import "@fontsource/roboto"



import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	page?: string | undefined;
	description?: string | undefined;
}

const { page, description } = Astro.props;
---
<html lang="en">
	<head>
		<BaseHead page={page} description={description} />
	</head>
	<body>
        <Nav />
        <slot />
        <Footer />
	</body>
</html>
