---
import '../styles/global.css';

import "@fontsource/bubbler-one"
import "@fontsource/ibm-plex-sans"

import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	page?: string | undefined;
	description?: string | undefined;
	image?: string | undefined;
}

const { page, description, image } = Astro.props;
---
<html lang="en">
	<head>
		<BaseHead page={page} description={description} image={image} />
	</head>
	<body>
        <Nav />
			<main>
			<article class="container mx-auto my-8">
				<slot />
			</article>
    	</main>
        <Footer />
	</body>
</html>
