---
import SiteHead from "../components/SiteHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

interface Props {
	page?: string | undefined;
	description?: string | undefined;
}

const { page, description } = Astro.props;
---
<html lang="en">
	<head>
		<SiteHead page={page} description={description} />
	</head>
	<body>
        <Nav />
        <slot />
        <Footer />
	</body>
</html>
