---
// import '../styles/index.css';
import '../styles/global.css';

// import "@fontsource/alegreya"
// import "@fontsource/alegreya-sans"
// import "@fontsource/rubik"
// import "@fontsource/rubik-beastly"
// import "@fontsource/philosopher"
import "@fontsource/bubbler-one"
// import "@fontsource/lora"
import "@fontsource/roboto"
import "@fontsource/ibm-plex-mono"
import "@fontsource/ibm-plex-sans"
import "@fontsource/inter"
// import "@fontsource/inter-tight"

import BaseHead from "../components/BaseHead.astro";


export interface Props {
	page?: string | undefined;
	description?: string | undefined;
}

const { page, description } = Astro.props;
---
<html lang="en">
	<head>
		<BaseHead page={page} description={description} />
	</head>
	<body>
        <slot />
	</body>
</html>
