---
import '../styles/global.css';
import "@fontsource/bubbler-one"
import "@fontsource/ibm-plex-sans"

import SiteHead from "@components/SiteHead.astro";

export interface Props {
	page?: string | undefined;
	description?: string | undefined;
}

const { page, description } = Astro.props;
---
<html lang="en">
	<head>
		<SiteHead page={page} description={description} />
	</head>
	<body>
        <slot />
	</body>
</html>
