---
// import '../styles/index.css';
import '../styles/global.css';

import "@fontsource/bubbler-one"
import "@fontsource/ibm-plex-sans"

import BaseHead from "../components/BaseHead.astro";

export interface Props {
	page?: string | undefined;
	description?: string | undefined;
}

const { page, description } = Astro.props;
---
<html lang="en">
	<head>
		<BaseHead page={page} description={description} />
	</head>
	<body>
        <slot />
	</body>
</html>
