---
import Footer from "@components/app/Footer.astro";
import Header from "@components/app/Header.astro";
import SEO from "@components/app/SEO.astro";

import "../styles/global.css";

import "@fontsource/bubbler-one/400.css";
import "@fontsource/ibm-plex-sans/300.css";
import "@fontsource/ibm-plex-sans/400.css";
import "@fontsource/ibm-plex-sans/600.css";
// import "@fontsource/ibm-plex-sans/700.css";
import "@fontsource/fira-code/400.css";
import "@fontsource/fira-code/600.css";

import type { ImageMetadata } from "astro";

export interface Props {
  page?: string | undefined;
  description?: string | undefined;
  publishedDate?: Date | undefined;
  image?: ImageMetadata | undefined;
}

const { page, description, publishedDate, image } = Astro.props;
---

<html
  lang="en"
  class="bg-background text-foreground w-screen overflow-x-hidden break-words motion-safe:scroll-smooth"
>
  <head>
    <SEO {page} {description} {publishedDate} {image} />

    <script src="../scripts/theme.ts"></script>
    <script
      is:inline
      data-astro-rerun
      defer
      type="text/partytown"
      src="https://cloud.umami.is/script.js"
      data-website-id="6f46b34b-0c31-4f1e-a5f6-7989de60af48"></script>
  </head>
  <body class="grid min-h-screen auto-rows-[auto_1fr_auto]">
    <Header />
    <slot />
    <Footer />
    <script src="../scripts/reveal-anim.ts"></script>
  </body>
</html>
