---
import Footer from "@components/app/Footer.astro";
import Header from "@components/app/Header.astro";
import SEO from "@components/app/SEO.astro";

import "../styles/global.css";

import "@fontsource/bubbler-one/400.css";
import "@fontsource/ibm-plex-sans/400.css";
import "@fontsource/ibm-plex-sans/600.css";
import "@fontsource/ibm-plex-sans/300.css";
// import "@fontsource/ibm-plex-sans/700.css";
import "@fontsource/fira-code/400.css";
import "@fontsource/fira-code/600.css";

import type { ImageMetadata } from "astro";

export interface Props {
  page?: string | undefined;
  description?: string | undefined;
  publishedDate?: Date | undefined;
  image?: ImageMetadata | undefined;
}

const { page, description, publishedDate, image } = Astro.props;
---

<html
  lang="en"
  class="bg-background text-foreground max-w-screen overflow-x-hidden break-words motion-safe:scroll-smooth"
>
  <head>
    <SEO {page} {description} {publishedDate} {image} />

    <script src="../scripts/theme.ts"></script>

    <script
      is:inline
      type="text/partytown"
      src="https://cdn.eu.amplitude.com/script/4be93bed99fb2eccac90000ec720a4b1.js"
    ></script>

    <script is:inline type="text/partytown">
      window.amplitude.add(window.sessionReplay.plugin({ sampleRate: 1 }));
      window.amplitude.init("4be93bed99fb2eccac90000ec720a4b1", {
        fetchRemoteConfig: true,
        serverZone: "EU",
        autocapture: true,
      });
    </script>
  </head>
  <body class="grid min-h-screen auto-rows-[auto_1fr_auto]">
    <Header />
    <slot />
    <Footer />
    <script src="../scripts/reveal-anim.ts"></script>
  </body>
</html>
