---
import WorkCard from '@components/work/WorkCard.astro';

interface Props {
  works: Array<string>;
  title: string;
  subtitle: string;
  class: string;
}
const { works, title, subtitle, class: className } = Astro.props;
---

<section class="container flex flex-col gap-4 lg:gap-8">
  <h2 class="text-xl lg:text-3xl uppercase font-semibold lg:font-extrabold tracking-widest sm:tracking-[0.2em] lg:tracking-[0.4rem] leading-none">
    <span class={className}>{title}</span><br />{subtitle}
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-8">
    {works.map((work) => <WorkCard id={work} />)}
  </div>
</section>
