---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

interface Props {
  slug: string;
}

const { slug } = Astro.props;

const work = await getEntry("work", slug);

if (!work) {
  throw new Error("Could not find work");
}
---

<a
  href={"/work/" + work?.id}
  title={`Open the "${work?.data.title}" project`}
  class="relative shadow-lg outline-offset-4 outline-black focus:outline-2 dark:shadow-none dark:outline-white"
>
  <article class="group aspect-square overflow-hidden">
    <Image
      src={work.data.img_preview}
      alt={`${work.data.title} preview`}
      class="h-full transition-transform duration-1000 motion-safe:group-hover:scale-110"
      loading="lazy"
    />
    <div
      class="group-bg-black absolute inset-0 grid items-center duration-500 group-hover:bg-black/90 motion-reduce:transition-all"
    >
      <div
        class="flex flex-col items-center justify-center gap-6 p-4 opacity-0 duration-500 group-hover:opacity-100"
      >
        <Icon
          name="icon_big_arrow_cross"
          class="text-8xl transition-all delay-100 duration-500 group-hover:rotate-0 motion-safe:-rotate-45"
        />
        <p
          class="font-title text-background dark:text-foreground text-4xl lg:text-5xl"
        >
          {work?.data.title}
        </p>
      </div>
    </div>
  </article>
</a>
