---
import H2 from "@components/ui/H2.astro";
import WorkCard from "@components/work/WorkCard.astro";

interface Props {
  works: Array<string>;
  title: string;
  subtitle: string;
  class: string;
}

const { works, title, subtitle, class: className } = Astro.props;
---

<section class="container flex flex-col gap-4 lg:gap-8">
  <H2>
    <span class={className}>{title}</span><br />{subtitle}
  </H2>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:gap-8">
    {works.map((work) => <WorkCard slug={work} variant="home" />)}
  </div>
</section>
