---
import H2 from "@components/ui/H2.astro";
import Link from "@components/ui/Link.astro";
import WorkCard from "@components/work/WorkCard.astro";
import { getCollection } from "astro:content";

const works = (await getCollection("work"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 3);
---

<section class="container flex flex-col gap-4 lg:gap-8">
  <H2>Latest Works</H2>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:gap-8">
    {works.map((work) => <WorkCard {work} />)}
  </div>
  <Link
    class="mt-8"
    label="See more works"
    href="/blog"
    icon="lucide:arrow-right"
    variant="secondary"
  />
</section>
