---
import { Icon } from "astro-icon/components";
---

<div class="col-span-2 flex flex-col items-center gap-2 lg:gap-4" role="link">
  <Icon name="icon_big_arrow" class="anim-arrow text-9xl" />
  <a
    class="font-title p-2 text-lg break-normal sm:text-2xl"
    href="/#explore"
    title="Explore works">EXPLORE</a
  >
</div>

<style>
  .anim-arrow {
    animation: animY 1.2s ease-in-out alternate infinite;
  }

  @media (prefers-reduced-motion: reduce) {
    .anim-arrow {
      animation: none;
    }
  }

  @keyframes animY {
    from {
      transform: translateY(-8px);
    }

    100% {
      transform: translateY(8px);
    }
  }
</style>
