---
const { class: className } = Astro.props;
---

<section
  class:list={[
    "prose sm:prose-lg lg:prose-xl prose-stone dark:prose-invert prose-img:shadow-xl prose-a:border-b prose-a:border-dashed prose-a:no-underline prose-a:hover:border-solid prose-pre:leading-snug",
    [className],
  ]}
>
  <slot />
</section>
